* {
    box-sizing: border-box;
}

header{
    width: 100%;
    height: auto;
    background-color: #ffffff;
    padding: 20px 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    } 

.logo {
    color: #171701;
}


.logo span {
    font-size: 19px;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 30px;
}


